<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.metamate.core.dai.mapper.ExtensionMapper">

    <resultMap id="Extension" type="wang.yanjiong.metamate.core.dai.ExtensionDai$Extension">
        <result column="id" property="id"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="version" property="version"/>
        <result column="visibility" property="visibility"/>
        <result column="structure" property="structure"/>
    </resultMap>

    <select id="selectExtensionById" resultMap="Extension">
        SELECT mext.id, mext.group, mext.name, mext.version, mext.visibility, mext.structure
        FROM mm_m_ext mext
        WHERE mext.id = #{id}gi
    </select>

    <insert id="insertExtension">
        INSERT INTO mm_m_ext
        (`id`, `group`, `name`, `version`, `visibility`, `structure`)
        VALUES
        (#{id}, #{group}, #{name}, #{version}, #{visibility}, #{structure})
    </insert>

    <delete id="deleteExtensionById">
        DELETE FROM mm_m_ext
        WHERE id = ${id}
    </delete>
</mapper>
