<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.metamate.core.dai.mapper.InstanceMapper">

    <resultMap id="Instance" type="wang.yanjiong.metamate.core.dai.InstanceDai$Instance">
        <result column="id" property="id"/>
        <result column="ext_id" property="extId"/>
        <result column="int_id" property="intId"/>
        <result column="owner_id" property="ownerId"/>
        <result column="field" property="field"/>
        <result column="value" property="value"/>
        <result column="value_set_hash" property="valueSetHash"/>
        <result column="value_ref_id" property="valueRefId"/>
        <result column="operator_id" property="operatorId"/>
    </resultMap>

    <select id="selectLatestInstancesByOwnerIdExtId" resultMap="Instance">
        SELECT mins.id, mins.int_id, mins.ext_id, mins.owner_id, mins.field, mins.value, mins.value_ref_id, mins.operator_id
        FROM mm_i_ins mins
        WHERE mins.owner_id = #{ownerId} AND mins.ext_id = #{extId} AND mins.end_time IS NULL
    </select>

    <select id="selectLatestInstancesByOwnerIds" resultType="string">
        SELECT DISTINCT (owner_id)
        FROM mm_i_ins mins
        WHERE mins.ext_id = #{extId} AND mins.end_time IS NULL
    </select>

    <select id="selectLatestInstanceByIntIdOwnerId" resultMap="Instance">
        SELECT mins.id, mins.int_id, mins.ext_id, mins.owner_id, mins.field, mins.value, mins.value_ref_id, mins.operator_id
        FROM mm_i_ins mins
        WHERE mins.owner_id = #{ownerId} AND mins.int_id = #{intId} AND mins.end_time IS NULL
    </select>

    <update id="updateInstanceEndTimeByOwnerIdIntId">
        UPDATE mm_i_ins mins
        SET mins.end_time = #{endTime}
        WHERE mins.owner_id = #{ownerId} AND mins.int_id = #{intId} AND mins.end_time IS NULL
    </update>

    <insert id="insertInstance">
        INSERT INTO mm_i_ins
        (`id`, `ext_id`, `int_id`, `owner_id`, `field`, `value`, `value_set_hash`, `value_ref_id`, `operator_id`, `begin_time`)
        VALUES
        (#{id},#{extId}, #{intId}, #{ownerId}, #{field}, #{value}, #{valueSetHash}, #{valueRefId}, #{operatorId}, #{beginTime})
    </insert>


</mapper>
