<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.metamate.core.dai.mapper.InstanceMapper">

    <resultMap id="Instance" type="wang.yanjiong.metamate.core.dai.InstanceDai$Instance">
        <result column="id" property="id"/>
        <result column="owner_id" property="ownerId"/>
        <result column="m_pub_id" property="pubId"/>
        <result column="ext_id" property="extId"/>
        <result column="int_id" property="intId"/>
        <result column="field" property="field"/>
        <result column="value" property="value"/>
        <result column="value_set_hash" property="valueSetHash"/>
        <result column="value_ref_id" property="valueRefId"/>
        <result column="operator_id" property="operatorId"/>
    </resultMap>

    <select id="selectLatestInstancesByOwnerIdExtId" resultMap="Instance">
        SELECT mins.id, mpub.int_id, mpub.ext_id, mins.owner_id, mint.field, mins.value, mins.value_ref_id, mins.operator_id
        FROM mm_i_ins mins, mm_m_pub mpub, mm_m_int mint
        WHERE mins.m_pub_id = mpub.id
        AND mint.id = mpub.int_id
        AND mins.owner_id = #{ownerId} AND mins.ext_id = #{extId} AND mins.end_time IS NULL
    </select>

    <select id="selectLatestInstancesByOwnerIds" resultType="string">
        SELECT DISTINCT (owner_id)
        FROM mm_i_ins mins
        WHERE mins.ext_id = #{extId} AND mins.end_time IS NULL
    </select>

    <select id="selectLatestInstanceByIntIdOwnerId" resultMap="Instance">
        SELECT mins.id, mpub.int_id, mpub.ext_id, mins.owner_id, mint.field, mins.value, mins.value_ref_id, mins.operator_id
        FROM mm_i_ins mins, mm_m_pub mpub, mm_m_int mint
        WHERE mins.m_pub_id = mpub.id
        AND mint.id = mpub.int_id
        AND mins.owner_id = #{ownerId} AND mint.id = #{intId} AND mins.end_time IS NULL
    </select>


    <update id="updateInstanceEndTimeByOwnerIdIntId">
        UPDATE mm_i_ins mins
        LEFT JOIN  mm_m_pub mpub
        ON mins.m_pub_id = mpub.id
        AND mins.owner_id = #{ownerId} AND mpub.int_id = #{intId} AND mins.end_time IS NULL
        SET mins.end_time = #{endTime}
    </update>

    <insert id="insertInstance">
        INSERT INTO mm_i_ins
        (`id`, `owner_id`, `m_pub_id`, `value`, `value_set_hash`, `value_ref_id`, `operator_id`, `begin_time`)
        VALUES
        (#{id}, #{ownerId}, #{pubId}, #{value}, #{valueSetHash}, #{valueRefId}, #{operatorId}, #{beginTime})
    </insert>


</mapper>
