<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.metamate.core.dai.mapper.IntensionMapper">

    <resultMap id="Intension" type="wang.yanjiong.metamate.core.dai.IntensionDai$Intension">
        <result column="id" property="id"/>
        <result column="ext_id" property="extId"/>
        <result column="field" property="field"/>
        <result column="is_single" property="single"/>
        <result column="structure" property="structure"/>
        <result column="visibility" property="visibility"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <select id="selectIntensionsByExtId" resultMap="Intension">
        SELECT mint.id, mint.ext_id, mint.field, mint.is_single, mint.structure, mint.visibility
        FROM mm_m_int mint
        WHERE mint.ext_id = #{extId}
    </select>

    <insert id="insertIntension">
        INSERT INTO mm_m_int
        (`id`, `ext_id`, `field`, `is_single`, `structure`, `visibility`, `begin_time`)
        VALUES
        (#{id}, #{extId}, #{field}, #{single}, #{structure}, #{visibility}, #{beginTime})
    </insert>


</mapper>
