<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.kiimate.model.core.dai.mapper.ExtensionMapper">

    <resultMap id="Extension" type="one.kii.kiimate.model.core.dai.ExtensionDai$Record">
        <result column="id" property="id"/>
        <result column="commit" property="commit"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="tree" property="tree"/>
        <result column="owner_id" property="ownerId"/>
        <result column="visibility" property="visibility"/>
        <result column="operator_id" property="operatorId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <select id="selectLastExtensionBySet" resultMap="Extension">
        SELECT mext.id, mext.commit, mext.group, mext.name, mext.tree, mext.owner_id, mext.visibility, mext.begin_time, mext.end_time, mext.operator_id
        FROM mm_m_ext mext, mm_m_pub mpub
        WHERE mpub.pub_set = #{set}
        AND mpub.ext_id = mext.id
        <if test="endTime == null">
            AND mext.end_time IS NULL
        </if>
        <if test="endTime != null">
            <![CDATA[
            AND mext.end_time >= #{endTime}
            ORDER BY mext.begin_time DESC
            LIMIT 0, 1
            ]]>
        </if>
        GROUP BY mext.id
    </select>
    <select id="selectExtensionByConflictFactor" resultMap="Extension">
        SELECT mext.id, mext.commit, mext.group, mext.name, mext.tree, mext.owner_id, mext.visibility, mext.begin_time, mext.end_time, mext.operator_id
        FROM mm_m_ext mext
        WHERE mext.group = #{group}
        AND mext.name = #{name}
        AND mext.tree = #{tree}
        AND mext.owner_id = #{ownerId}
        <if test="beginTime == null">
            AND mext.end_time IS NULL
        </if>
        <if test="beginTime != null">
            AND mext.end_time = #{endTime}
        </if>
    </select>

    <select id="selectLastExtensionByName" resultMap="Extension">
        SELECT mext.id, mext.commit, mext.group, mext.name, mext.tree, mext.owner_id, mext.visibility, mext.begin_time, mext.end_time, mext.operator_id
        FROM mm_m_ext mext
        WHERE mext.group = #{group}
        AND mext.name = #{name}
        AND mext.tree = #{tree}
        <if test="endTime != null">
            <![CDATA[
            AND mext.end_time >= #{endTime}
            ORDER BY mext.begin_time DESC
            LIMIT 0, 1
        ]]>
        </if>
        <if test="endTime == null">
            AND mext.end_time IS NULL
        </if>
    </select>

    <select id="selectLastExtensionById" resultMap="Extension">
        SELECT mext.id, mext.commit, mext.group, mext.name, mext.tree, mext.owner_id, mext.visibility, mext.begin_time, mext.end_time, mext.operator_id
        FROM mm_m_ext mext
        WHERE mext.id = #{id}
        <if test="endTime == null">
            AND mext.end_time IS NULL
        </if>
        <if test="endTime != null">
            <![CDATA[
            AND mext.end_time >= #{end_time}
            ]]>
            ORDER BY mext.begin_time DESC
            LIMIT 0, 1
        </if>
    </select>

    <select id="queryExtensionsByOwnerGroup" resultMap="Extension">
        <bind name="group_pattern" value="'%' + group + '%'"/>
        SELECT mext.id, mext.commit, mext.group, mext.name, mext.tree, mext.owner_id, mext.visibility, mext.begin_time, mext.end_time, mext.operator_id
        FROM mm_m_ext mext
        WHERE mext.owner_id = #{ownerId}
        AND mext.group LIKE #{group_pattern}
        AND mext.end_time IS NULL
    </select>

    <insert id="insertExtension">
        INSERT INTO mm_m_ext
        (`id`, `commit`, `group`, `name`, `tree`, `owner_id`, `visibility`,`operator_id`,`begin_time`)
        VALUES
        (#{id}, #{commit}, #{group}, #{name}, #{tree}, #{ownerId}, #{visibility}, #{operatorId}, #{beginTime})
    </insert>

    <update id="updateEndTimeExtensionById">
        UPDATE mm_m_ext mext
        SET mext.end_time = #{endTime}
        WHERE mext.id = #{extId}
    </update>

    <delete id="revoke">
        UPDATE mm_m_ext
        SET end_time = #{endTime}
        WHERE id = #{id}
        AND end_time IS NULL
    </delete>
</mapper>
