<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.kiimate.model.core.dai.mapper.IntensionMapper">

    <resultMap id="Intension" type="one.kii.kiimate.model.core.dai.IntensionDai$Intension">
        <result column="id" property="id"/>
        <result column="ext_id" property="extId"/>
        <result column="field" property="field"/>
        <result column="is_single" property="single"/>
        <result column="structure" property="structure"/>
        <result column="ref_m_pub_set" property="refPubSet"/>
        <result column="visibility" property="visibility"/>
        <result column="is_required" property="required"/>
    </resultMap>

    <select id="selectLatestIntensionsByExtId" resultMap="Intension">
        SELECT mint.id, mint.ext_id, mint.field, mint.is_single, mint.structure, mint.ref_m_pub_set, mint.visibility, mint.is_required
        FROM mm_m_int mint
        WHERE mint.ext_id = #{extId}
        AND mint.end_time IS NULL
    </select>

    <select id="selectLastIntensionByExtIdField" resultMap="Intension">
        SELECT mint.id, mint.ext_id, mint.field, mint.is_single, mint.structure, mint.ref_m_pub_set, mint.visibility, mint.is_required
        FROM mm_m_int mint
        WHERE mint.ext_id = #{extId}
        AND mint.field = #{field}
        ORDER BY mint.begin_time DESC
        LIMIT 0,1
    </select>

    <select id="selectLatestIntensionByExtIdField" resultMap="Intension">
        SELECT mint.id, mint.ext_id, mint.field, mint.is_single, mint.structure, mint.ref_m_pub_set, mint.visibility, mint.is_required
        FROM mm_m_int mint
        WHERE mint.ext_id = #{extId}
        AND mint.field = #{field}
        AND mint.end_time IS NULL
    </select>
    <select id="selectLastFieldsByExtIdPubSet" resultType="java.lang.String">
        SELECT mint.field
        FROM mm_m_int mint, mm_m_pub mpub
        WHERE mpub.pub_set = #{pubSet}
        AND mpub.ext_id = mint.ext_id
        AND mpub.int_id = mint.id
        AND mint.ext_id = #{extId}
        <![CDATA[
        AND mint.begin_time <= #{beginTime}
        AND ((mint.end_time >= #{beginTime}) OR mint.end_time IS NULL)
        ]]>
        GROUP BY mint.field
    </select>

    <update id="updateLatestIntensionEndTimeById">
        UPDATE mm_m_int mint
        SET mint.end_time = #{endTime}
        WHERE mint.id = #{id}
    </update>

    <insert id="insertIntension">
        INSERT INTO mm_m_int
        (`id`, `ext_id`, `field`, `is_single`, `structure`, `ref_m_pub_set`, `visibility`, `is_required`, `begin_time`)
        VALUES
        (#{id}, #{extId}, #{field}, #{single}, #{structure}, #{refPubSet}, #{visibility}, #{required}, #{beginTime})
    </insert>

    <delete id="deleteIntensionsByExtId">
        DELETE FROM mm_m_int
        WHERE ext_id = #{extId}
    </delete>


</mapper>
