<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.kiimate.model.core.dai.mapper.ModelSubscriptionMapper">

    <resultMap id="Subscription" type="one.kii.kiimate.model.core.dai.ModelSubscriptionDai$ModelSubscription">
        <result column="id" property="id"/>
        <result column="sub_set_hash" property="subSet"/>
        <result column="subscriber_id" property="subscriberId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="tree" property="tree"/>
        <result column="operator_id" property="operatorId"/>
    </resultMap>
    
    <resultMap id="Subscribers" type="one.kii.kiimate.model.core.dai.ModelSubscriptionDai$Subscribers">
        <result column="subscriber_id" property="id"/>
    </resultMap>

    <resultMap id="ModelPubSet" type="one.kii.kiimate.model.core.dai.ModelSubscriptionDai$ModelPubSet">
        <result column="pub_set_hash" property="pubSet"/>
        <result column="id" property="rootExtId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <insert id="insertSubscription">
        INSERT INTO mm_m_sub
        (id, sub_set_hash, subscriber_id, `group`, `name`, `tree`, operator_id, begin_time)
        VALUES
        (#{id}, #{subSet}, #{subscriberId}, #{group}, #{name}, #{tree}, #{operatorId}, #{beginTime})
    </insert>

    <delete id="deleteById">
        DELETE FROM
        mm_m_sub
        WHERE id = #{id}
    </delete>


    <select id="countLatestSubscription" resultType="int">
        SELECT count(msub.id) FROM mm_m_sub msub
        WHERE msub.sub_set_hash = #{subSet} AND msub.subscriber_id = #{subscriberId}
        AND msub.group = #{group} AND msub.name = #{name} AND msub.tree = #{tree}
        AND msub.end_time IS NULL
    </select>

    <select id="countModelSubscriptions" resultType="int">
        SELECT count(msub.id)
        FROM mm_m_sub msub
        WHERE msub.sub_set_hash = #{subSet}
        AND end_time IS NULL
    </select>

    <select id="querySubscriptionsByOwnerGroup" resultMap="Subscription">
        <bind name="group_pattern" value="'%' + group + '%'"/>
        SELECT msub.id, msub.sub_set_hash, msub.subscriber_id, msub.`group`, msub.name, msub.tree, msub.operator_id
        FROM mm_m_sub msub
        WHERE msub.subscriber_id = #{ownerId}
        AND msub.group LIKE #{group_pattern}
        AND msub.end_time IS NULL
    </select>

    <select id="selectModelPubSetByOwnerSubscription" resultMap="ModelPubSet">
        SELECT mext.id, mpub.pub_set_hash, mpub.begin_time, mpub.end_time
        FROM mm_m_sub msub, mm_m_pub mpub, mm_m_ext mext
        WHERE mext.id = mpub.ext_id
        AND mpub.pub_set_hash = msub.sub_set_hash
        AND mext.name = 'root'
        AND msub.subscriber_id = #{ownerId} AND msub.id = #{subId}
        AND msub.end_time IS NULL
        AND mpub.end_time IS NULL
        AND mext.end_time IS NULL
        GROUP BY mext.id
    </select>

    <select id="querySubscriberId" resultMap="Subscribers">
        <bind name="subscriberId_pattern" value="'%' + subscriberId + '%'"/>
        SELECT msub.subscriber_id FROM mm_m_sub msub
        WHERE subscriber_id LIKE #{subscriberId_pattern}
        GROUP BY msub.subscriber_id
    </select>
    <select id="selectSubscriptionByOwnerGroupNameTree" resultMap="Subscription">
        SELECT msub.id, msub.sub_set_hash, msub.subscriber_id, msub.`group`, msub.name, msub.tree, msub.operator_id
        FROM mm_m_sub msub
        WHERE msub.subscriber_id = #{ownerId}
        AND msub.group = #{group}
        AND msub.name = #{name}
        AND msub.tree = #{tree}
        AND msub.end_time IS NULL
    </select>
    <select id="selectByOwnerSubId" resultMap="Subscription">
        SELECT msub.id, msub.sub_set_hash, msub.subscriber_id, msub.`group`, msub.name, msub.tree, msub.operator_id
        FROM mm_m_sub msub
        WHERE msub.subscriber_id = #{ownerId}
        AND msub.id = #{subId}
        AND msub.end_time IS NULL
    </select>
</mapper>
