<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.kiimate.model.core.dai.mapper.ModelPublicationMapper">

    <resultMap id="Publication" type="one.kii.kiimate.model.core.dai.ModelPublicationDai$Record">
        <result column="id" property="id"/>
        <result column="pub_set" property="pubSet"/>
        <result column="provider_id" property="providerId"/>
        <result column="ext_id" property="extId"/>
        <result column="int_id" property="intId"/>
        <result column="version" property="version"/>
        <result column="stability" property="stability"/>
        <result column="operator_id" property="operatorId"/>
        <result column="begin_time" property="beginTime"/>
    </resultMap>
    
    <resultMap id="PublishedExtension" type="one.kii.kiimate.model.core.dai.ModelPublicationDai$PublishedExtension">
        <result column="id" property="id"/>
        <result column="provider_id" property="providerId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="operator_id" property="operatorId"/>
        <result column="begin_time" property="beginTime"/>
    </resultMap>

    <resultMap id="PublishedSnapshot" type="one.kii.kiimate.model.core.dai.ModelPublicationDai$PublishedSnapshot">
        <result column="pub_set" property="pubSet"/>
        <result column="stability" property="stability"/>
        <result column="version" property="version"/>
        <result column="begin_time" property="beginTime"/>
    </resultMap>

    <resultMap id="Provider" type="one.kii.kiimate.model.core.dai.ModelPublicationDai$Provider">
        <result column="provider_id" property="id"/>
    </resultMap>

    <insert id="insertPublication">
        INSERT INTO mm_m_pub
        (id, pub_set, provider_id, ext_id, int_id, version, stability, operator_id, begin_time)
        VALUES
        (#{id}, #{pubSet}, #{providerId}, #{extId}, #{intId}, #{version}, #{stability}, #{operatorId}, #{createdAt})
    </insert>

    <select id="selectPublicationsByProviderIdExtIdPubVersion" resultMap="Publication">
        SELECT id, pub_set, provider_id, ext_id, int_id, version, stability, operator_id, begin_time
        FROM  mm_m_pub
        WHERE pub_ext_id = #{pubExtId}
        AND end_time IS NULL
    </select>

    <select id="countPublicationByKeyFactor" resultType="int">
        SELECT COUNT(mpub.ext_id)
        FROM  mm_m_pub mpub
        WHERE mpub.provider_id = #{providerId}
        AND mpub.ext_id = #{extId}
        AND mpub.stability = #{stability}
        AND mpub.version = #{version}
        AND mpub.end_time IS NULL
        GROUP BY mpub.ext_id
    </select>

    <delete id="deletePublicationByProviderIdExtIdPubVersion">
        DELETE
        FROM  mm_m_pub
        WHERE provider_id = #{providerId} AND ext_id = #{extId} AND stability = #{stability} AND version = #{version}
    </delete>

    <select id="selectProvidersByProviderQuery" resultMap="Provider">
        <bind name="query_pattern" value="'%' + query + '%'"/>
        SELECT DISTINCT(provider_id)
        FROM mm_m_pub
        WHERE provider_id LIKE #{query_pattern}
        ORDER BY provider_id ASC
    </select>

    <select id="selectPublishedExtensionByGroupQuery" resultMap="PublishedExtension">
        <bind name="query_pattern" value="'%' + query + '%'"/>
        SELECT mext.id, mpub.provider_id, mext.group, mext.name, mpub.operator_id, mpub.begin_time
        FROM mm_m_pub mpub, mm_m_ext mext
        WHERE mpub.ext_id = mext.id
        AND mext.`group` LIKE #{query_pattern}
        AND mpub.end_time IS NULL
        GROUP BY mpub.provider_id, mext.group,  mext.name
    </select>
    <select id="selectRootPublicationsByPubSet" resultMap="Publication">
        SELECT mpub.id, mpub.pub_set, mpub.provider_id, mpub.ext_id, mpub.int_id, mpub.version, mpub.stability, mpub.operator_id, mpub.begin_time
        FROM mm_m_pub mpub, mm_m_ext mext
        WHERE mpub.ext_id = mext.id
        AND mpub.pub_set = #{pubSet}
        AND mpub.end_time IS NULL
        AND mext.name = 'root'
        GROUP BY mpub.pub_set
    </select>
    <select id="selectPublishedSnapshotsByExtId" resultMap="PublishedSnapshot">
        SELECT mpub.id, mpub.pub_set, mpub.int_id, mpub.version, mpub.stability, mpub.begin_time
        FROM mm_m_pub mpub, mm_m_ext mext
        WHERE mpub.ext_id = mext.id
        AND mpub.ext_id = #{extId}
        AND mpub.end_time IS NULL
        GROUP BY mpub.pub_set
    </select>

    <delete id="deletePublicationByProviderId">
        DELETE
        FROM  mm_m_pub
        WHERE provider_id = #{providerId}
    </delete>
</mapper>
