<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinewang.kiimate.model.core.dai.mapper.ModelSubscriptionMapper">

    <resultMap id="Subscription" type="one.kii.kiimate.model.core.dai.ModelSubscriptionDai$Instance">
        <result column="id" property="id"/>
        <result column="sub_set" property="subSet"/>
        <result column="subscriber_id" property="subscriberId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="tree" property="tree"/>
        <result column="operator_id" property="operatorId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <resultMap id="Subscribers" type="one.kii.kiimate.model.core.dai.ModelSubscriptionDai$Subscribers">
        <result column="subscriber_id" property="id"/>
    </resultMap>

    <resultMap id="InsideView" type="one.kii.summer.zoom.InsideView">
        <result column="pub_set" property="set"/>
        <result column="root_ext_id" property="rootId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="provider_id" property="providerId"/>
        <result column="subscriber_id" property="subscriberId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="tree" property="tree"/>
    </resultMap>

    <resultMap id="OutsideView" type="one.kii.summer.zoom.OutsideView">
        <result column="id" property="id"/>
        <result column="pub_set" property="set"/>
        <result column="provider_id" property="providerId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="stability" property="stability"/>
        <result column="version" property="version"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <insert id="insertSubscription">
        INSERT INTO mm_m_sub
        (id, sub_set, subscriber_id, `group`, `name`, `tree`, operator_id, begin_time)
        VALUES
        (#{id}, #{subSet}, #{subscriberId}, #{group}, #{name}, #{tree}, #{operatorId}, #{beginTime})
    </insert>

    <delete id="deleteById">
        DELETE FROM
        mm_m_sub
        WHERE id = #{id}
    </delete>


    <select id="countByConflictKeys" resultType="int">
        SELECT count(msub.id) FROM mm_m_sub msub
        WHERE msub.sub_set = #{subSet} AND msub.subscriber_id = #{subscriberId}
        AND msub.group = #{group} AND msub.name = #{name} AND msub.tree = #{tree}
        AND msub.end_time IS NULL
    </select>

    <select id="countModelSubscriptions" resultType="int">
        SELECT count(msub.id)
        FROM mm_m_sub msub
        WHERE msub.sub_set = #{subSet}
        AND end_time IS NULL
    </select>

    <select id="querySubscriptionsByOwnerGroup" resultMap="Subscription">
        <bind name="group_pattern" value="'%' + group + '%'"/>
        SELECT msub.id, msub.sub_set, msub.subscriber_id, msub.`group`, msub.name, msub.tree, msub.operator_id, msub.begin_time, msub.end_time
        FROM mm_m_sub msub
        WHERE msub.subscriber_id = #{ownerId}
        AND msub.group LIKE #{group_pattern}
        AND msub.end_time IS NULL
    </select>

    <select id="selectModelPubSetByAssetId" resultMap="InsideView">
        SELECT mext.id, mpub.pub_set, mpub.begin_time, mpub.end_time
        FROM mm_m_pub mpub, mm_m_sub msub, mm_m_ext mext, km_s_sub ssub, km_s_pub spub
        WHERE mext.id = mpub.ext_id
        AND ssub.id = #{subId}
        AND ssub.sub_set = spub.pub_set
        AND spub.m_sub_id = msub.id
        AND msub.sub_set = mpub.pub_set
        AND ssub.end_time IS NULL
        GROUP BY mext.id
    </select>
    <select id="selectModelPubSetByStatusId" resultMap="InsideView">
        SELECT msub.id, msub.subscriber_id, msub.group, msub.name, msub.tree, msub.begin_time, msub.end_time,
        mext.id root_ext_id, mpub.pub_set, mpub.provider_id
        FROM mm_m_pub mpub, mm_m_sub msub, mm_m_ext mext
        WHERE mext.id = mpub.ext_id
        AND msub.id = #{id}
        AND msub.sub_set = mpub.pub_set
        AND msub.end_time IS NULL
        GROUP BY mext.id
    </select>
    <select id="selectModelPubSetByGroupNameTree" resultMap="InsideView">
        SELECT msub.id, msub.subscriber_id, msub.group, msub.name, msub.tree, msub.begin_time, msub.end_time,
        mext.id root_ext_id, mpub.pub_set, mpub.provider_id
        FROM mm_m_pub mpub, mm_m_sub msub, mm_m_ext mext
        WHERE mext.id = mpub.ext_id
        AND msub.sub_set = mpub.pub_set
        AND msub.group = #{group}
        AND msub.name = #{name}
        AND msub.tree = #{tree}
        AND msub.end_time IS NULL
        GROUP BY mext.id
    </select>

    <select id="selectModelBySet" resultMap="OutsideView">
        SELECT mext.id, mpub.pub_set, mpub.provider_id, mext.group, mext.name, mpub.stability, mpub.version, mpub.begin_time, mpub.end_time
        FROM mm_m_pub mpub, mm_m_sub msub, mm_m_ext mext
        WHERE mext.id = mpub.ext_id
        AND mpub.provider_id = #{providerId}
        AND mpub.pub_set = #{pubSet}
        GROUP BY mext.id
    </select>


    <select id="querySubscriberId" resultMap="Subscribers">
        <bind name="subscriberId_pattern" value="'%' + subscriberId + '%'"/>
        SELECT msub.subscriber_id FROM mm_m_sub msub
        WHERE subscriber_id LIKE #{subscriberId_pattern}
        GROUP BY msub.subscriber_id
    </select>
    <select id="selectSubscriptionByOwnerGroupNameTree" resultMap="Subscription">
        SELECT msub.id, msub.sub_set, msub.subscriber_id, msub.`group`, msub.name, msub.tree, msub.operator_id, msub.begin_time, msub.end_time
        FROM mm_m_sub msub
        WHERE msub.subscriber_id = #{ownerId}
        AND msub.group = #{group}
        AND msub.name = #{name}
        AND msub.tree = #{tree}
        AND msub.end_time IS NULL
    </select>
    <select id="selectBySubId" resultMap="Subscription">
        SELECT msub.id, msub.sub_set, msub.subscriber_id, msub.`group`, msub.name, msub.tree, msub.operator_id, msub.begin_time, msub.end_time
        FROM mm_m_sub msub
        WHERE msub.id = #{id}
        WHERE msub.subscriber_id = #{subscriberId}
        AND msub.end_time IS NULL
    </select>

</mapper>
