<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinewang.kiimate.model.core.dai.mapper.OwnersMapper">

    <resultMap id="Owners" type="one.kii.kiimate.model.core.api.SearchOwnersApi$Owners">
        <result column="owner_id" property="ownerId"/>
    </resultMap>

    <select id="queryOwners" resultMap="Owners">
        <bind name="ownerId_pattern" value="'%' + ownerId + '%'"/>
        SELECT DISTINCT(owner_id)
        FROM mm_m_ext m_ext
        WHERE m_ext.owner_id LIKE #{ownerId_pattern}
    </select>
</mapper>