<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinewang.kiimate.status.core.dai.mapper.AssetSubscriptionMapper">
    <insert id="insert">
        INSERT INTO km_s_sub
        (id, subscriber_id, sub_set, operator_id, begin_time)
        VALUES
        (#{id}, #{subscriberId}, #{subSet}, #{operatorId}, #{beginTime})
    </insert>
    <select id="countById" resultType="int">
        SELECT count(id) FROM km_s_sub WHERE id = #{id}
    </select>
</mapper>