<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinewang.kiimate.status.core.dai.mapper.AssetsMapper">

    <resultMap id="Providers" type="one.kii.kiimate.status.core.dai.AssetDai$Providers">
        <result column="provider_id" property="id"/>
    </resultMap>
    <resultMap id="Subscribers" type="one.kii.kiimate.status.core.dai.AssetDai$Subscribers">
        <result column="subscriber_id" property="id"/>
    </resultMap>


    <resultMap id="Assets" type="one.kii.kiimate.status.core.dai.AssetDai$Assets">
        <result column="id" property="id"/>
        <result column="subscriber_id" property="subscriberId"/>
        <result column="sub_set" property="set"/>
        <result column="provider_id" property="providerId"/>
        <result column="version" property="version"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <insert id="insertSubscription">
        INSERT INTO km_s_sub
        (id, subscriber_id, sub_set, operator_id, begin_time)
        VALUES
        (#{id}, #{subscriberId}, #{subSet}, #{operatorId}, #{beginTime})
    </insert>
    <insert id="insertPublication">
        INSERT INTO km_s_pub
        (id, pub_set, provider_id, m_sub_id, ins_id, version, visibility, stability, operator_id, begin_time)
        VALUES
        (#{id}, #{pubSet}, #{providerId}, #{modelSubId}, #{insId}, #{version}, #{visibility}, #{stability}, #{operatorId}, #{beginTime})
    </insert>

    <select id="queryProviders" resultMap="Providers">
        <bind name="provider_id_pattern" value="'%' + providerId + '%'"/>
        SELECT spub.provider_id FROM km_s_pub spub
        WHERE spub.provider_id LIKE #{provider_id_pattern}
        AND spub.end_time IS NULL
        GROUP BY spub.provider_id
    </select>
    <select id="querySubscribers" resultMap="Subscribers">
        <bind name="subscriber_id_pattern" value="'%' + subscriberId + '%'"/>
        SELECT ssub.subscriber_id FROM km_s_sub ssub
        WHERE ssub.subscriber_id LIKE #{subscriber_id_pattern}
        AND ssub.end_time IS NULL
        GROUP BY ssub.provider_id
    </select>

    <select id="selectAsset" resultMap="Assets">
        SELECT ssub.id, ssub.subscriber_id, ssub.sub_set, ssub.begin_time, ssub.end_time,
        spub.provider_id
        FROM km_s_sub ssub, km_s_pub spub
        WHERE spub.pub_set = ssub.sub_set
        AND ssub.id = #{id}
        AND ssub.subscriber_id = #{subscriberId}
        AND ssub.end_time IS NULL
        GROUP BY ssub.id
    </select>
</mapper>