<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinewang.kiimate.status.core.dai.mapper.GlimpseMapper">

    <resultMap id="Providers" type="one.kii.kiimate.status.core.dai.GlimpsesDai$Providers">
        <result column="provider_id" property="id"/>
    </resultMap>
    <resultMap id="Subscribers" type="one.kii.kiimate.status.core.dai.GlimpsesDai$Subscribers">
        <result column="subscriber_id" property="id"/>
    </resultMap>

    <resultMap id="Publication" type="one.kii.kiimate.status.core.dai.GlimpsesDai$Publication">
        <result column="pub_set" property="set"/>
        <result column="provider_id" property="providerId"/>
        <result column="m_sub_id" property="modelSubId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="stability" property="stability"/>
        <result column="version" property="version"/>
        <result column="visibility" property="visibility"/>
        <result column="operator_id" property="operatorId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <resultMap id="Glimpse" type="one.kii.summer.zoom.OutsideView">
        <result column="id" property="id"/>
        <result column="pub_set" property="set"/>
        <result column="provider_id" property="providerId"/>
        <result column="group" property="group"/>
        <result column="name" property="name"/>
        <result column="stability" property="stability"/>
        <result column="version" property="version"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <insert id="insertGlimpse">
        INSERT INTO km_s_sub
        (id, subscriber_id, sub_set, operator_id, begin_time)
        VALUES
        (#{id}, #{subscriberId}, #{set}, #{operatorId}, #{beginTime})
    </insert>
    <insert id="insertPublication">
        INSERT INTO km_s_pub
        (id, pub_set, provider_id, m_sub_id, ins_id, version, visibility, stability, operator_id, begin_time)
        VALUES
        (#{id}, #{set}, #{providerId}, #{modelSubId}, #{insId}, #{version}, #{visibility}, #{stability}, #{operatorId}, #{beginTime})
    </insert>

    <select id="queryProviders" resultMap="Providers">
        <bind name="provider_id_pattern" value="'%' + providerId + '%'"/>
        SELECT spub.provider_id FROM km_s_pub spub
        WHERE spub.provider_id LIKE #{provider_id_pattern}
        AND spub.end_time IS NULL
        GROUP BY spub.provider_id
    </select>
    <select id="querySubscribers" resultMap="Subscribers">
        <bind name="subscriber_id_pattern" value="'%' + subscriberId + '%'"/>
        SELECT ssub.subscriber_id FROM km_s_sub ssub
        WHERE ssub.subscriber_id LIKE #{subscriber_id_pattern}
        AND ssub.end_time IS NULL
        GROUP BY ssub.provider_id
    </select>
    <select id="queryStatusPub" resultMap="Publication">
        <bind name="group_pattern" value="'%' + group + '%'"/>
        SELECT spub.pub_set, spub.provider_id, spub.m_sub_id, spub.version, spub.visibility, spub.stability, spub.operator_id, spub.begin_time, spub.end_time,
        msub.group, msub.name
        FROM km_s_pub spub, km_m_sub msub
        WHERE spub.m_sub_id = msub.id
        AND spub.provider_id = #{providerId}
        AND msub.group LIKE #{group_pattern}
        AND spub.end_time IS NULL
        GROUP BY spub.pub_set
    </select>
    <select id="queryGlimpses" resultMap="Glimpse">
        <bind name="group_pattern" value="'%' + group + '%'"/>
        SELECT ssub.id, spub.pub_set, spub.provider_id, spub.version, spub.visibility, spub.stability, spub.operator_id, spub.begin_time, spub.end_time,
        msub.group, msub.name
        FROM km_s_pub spub, km_s_sub ssub, km_m_sub msub
        WHERE spub.pub_set = ssub.sub_set
        AND spub.m_sub_id = msub.id
        AND ssub.subscriber_id = #{subscriberId}
        AND msub.group LIKE #{group_pattern}
        AND ssub.end_time IS NULL
        GROUP BY ssub.id
    </select>

    <select id="loadStatusPub" resultMap="Publication">
        SELECT spub.pub_set, spub.provider_id, spub.m_sub_id, spub.version, spub.visibility, spub.stability, spub.operator_id, spub.begin_time, spub.end_time,
        msub.group, msub.name
        FROM km_m_sub msub, km_s_pub spub
        WHERE spub.m_sub_id = msub.id
        AND spub.pub_set = #{set}
        AND spub.provider_id = #{providerId}
        AND spub.end_time IS NULL
        GROUP BY spub.pub_set
    </select>
    <select id="loadGlimpse" resultMap="Publication">
        SELECT spub.pub_set, spub.provider_id, spub.m_sub_id, spub.version, spub.visibility, spub.stability, spub.operator_id, spub.begin_time, spub.end_time,
        msub.group, msub.name
        FROM km_m_sub msub, km_s_pub spub, km_s_sub ssub
        WHERE spub.m_sub_id = msub.id
        AND ssub.sub_set = spub.pub_set
        AND ssub.id = #{id}
        AND ssub.subscriber_id = #{subscriberId}
        AND ssub.end_time IS NULL
        GROUP BY spub.pub_set
    </select>
    <select id="countByConflictKey" resultType="java.lang.Integer">
        SELECT COUNT(pub_set)
        FROM km_s_pub spub
        WHERE spub.provider_id = #{providerId}
        AND spub.m_sub_id = #{modelSubId}
        AND spub.version = #{version}
        AND spub.visibility = #{visibility}
        AND spub.stability = #{stability}
        AND spub.end_time IS NULL
    </select>

</mapper>