<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinewang.kiimate.status.core.dai.mapper.StatusMapper">

    <resultMap id="Statuses" type="one.kii.summer.zoom.OutsideView">
        <result column="id" property="id"/>
        <result column="provider_id" property="providerId"/>
        <result column="pub_set" property="set"/>
        <result column="group" property="group"/>
        <result column="stability" property="stability"/>
        <result column="version" property="version"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <insert id="insertStatus">
        INSERT INTO km_s_pub
        (id, pub_set, provider_id, m_sub_id, ins_id, version, visibility, stability, operator_id, begin_time)
        VALUES
        (#{id}, #{pubSet}, #{providerId}, #{modelSubId}, #{insId}, #{version}, #{visibility}, #{stability}, #{operatorId}, #{beginTime})
    </insert>
    <update id="revokeStatus">
        UPDATE km_s_pub spub
        SET spub.end_time = #{endTime}
        WHERE spub.end_time IS NULL
        AND spub.provider_id = #{providerId}
        AND spub.pub_set = #{pubSet}
    </update>

    <select id="selectLast" resultMap="Statuses">
        SELECT msub.id, spub.pub_set, spub.provider_id, spub.stability, spub.version, spub.begin_time, spub.end_time,
        msub.group, msub.name
        FROM km_s_pub spub, km_m_sub msub
        WHERE spub.m_sub_id = msub.id
        AND spub.provider_id = #{providerId}
        AND msub.group = #{group}
        AND msub.name = #{name}
        AND spub.stability = #{stability}
        AND spub.version = #{version}
        <if test="beginTime != null and endTime != null">
            <![CDATA[
            AND spub.begin_time <= #{beginTime}
            AND ((spub.end_time >= #{endTime}) OR (spub.end_time IS NULL))
            ]]>
        </if>
        <if test="beginTime == null and endTime != null">
            <![CDATA[
            AND spub.begin_time <= #{endTime}
            AND ((spub.end_time >= #{endTime}) OR (spub.end_time IS NULL))
            ]]>
        </if>
        <if test="beginTime != null and endTime == null">
            <![CDATA[
            AND spub.begin_time >= #{beginTime}
            AND ((spub.end_time >= #{beginTime}) OR (spub.end_time IS NULL))
            ]]>
        </if>
        GROUP BY spub.pub_set
    </select>
</mapper>